<% provide(:title, t('license_all')) %>

<h3>
  <%= yield(:title) %>
  <%= link_to 'New License', new_license_path, :class => "success round radius label" %>
</h3>

<%= grid(@licenses_grid, show_filters: :no) do |g|

  g.column name: t('lic_Companyname'), attribute: 'companyName' do |license|
    license.companyName
  end

  g.column name: t('lic_Contactname')  do |license|
    license.contactName
  end

  g.column name: t('lic_Contactemail')  do |license|
    license.contactEmail
  end

  g.column name: t('lic_Notafter'), attribute: 'notAfter'  do |license|
    getYYYYMMDD(license.notAfter)
  end

  g.column name: t('lic_NotafterDays'), attribute: 'notAfter'  do |license|
    raw getNotAfterDays(license.notAfter)
  end

  g.column name: t('lic_User')  do |license|
    license.user.lastname
  end

  g.column name: t('lic_Consumertype')  do |license|
    license.consumerType
  end

  g.column name: t('lic_Info')  do |license|
    license.info
  end

  g.column do |license|
    link_to t('show'), license, :class => "noul success round radius label"
  end

  g.column do |license|
    link_to t('edit'), edit_license_path(license), :class => "noul success round radius label"
  end

  g.column do |license|
    link_to t('download'), home_download_lic_url(license), :class => "noul success round radius label"
  end

  if current_user.admin?
    g.column do |license|
      link_to 'Destroy', license, method: :delete, data: { confirm: t('destory_q') }, :class => "noul success round radius label"
    end
  end

end -%>
