<% provide(:title, t('lic_new')) %>
<h3><%= yield(:title) %></h3>

  <div class="large-12 columns large-centered">
    <%= form_for(@license) do |f| %>
      <%= render 'form', f: f %>
      <%= f.submit t('btn_lic_create'), class: "button tiny success radius" %>
    <% end %>
  </div>