<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert-box round alert">
      <big><strong>
        The form contains <%= pluralize(object.errors.count, "error") %>.
      </strong></big>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>