<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p><small><%= t('copyright') %></small></p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><%= link_to t('help'),   about_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
